<?xml version="1.0"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro" name="amiga">

    <!-- World link -->
    <!-- <link name="world" /> -->
    
    <!-- Args -->
    <xacro:arg name="amiga_prefix" default="amiga"/>
    <xacro:arg name="amiga_parent" default="world" />
    <xacro:arg name="sim_gazebo" default="false"/>

    <!-- amiga macro -->
    <xacro:include filename="./amiga_macro.urdf.xacro" />
    
    <xacro:amiga_macro
        amiga_prefix="$(arg amiga_prefix)"
        amiga_parent="$(arg amiga_parent)"
        sim_gazebo="$(arg sim_gazebo)"
    />

</robot>